@import './base.css';

.n-button {
  border-radius: var(--border-radius);
}

.contrastcard {
  background-color: var(--color-background-contrast);
  color: var(--color-text-contrast);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.contrastcard .maincontent {
  padding: 1rem 2rem;
}
.contrastcard .footer {
  padding: 1rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
}
